<div class="my-1 mx-2">
  <div class="px-1 bg-green-500 text-black mb-2">Help System</div>
 
  <div class="mb-1">
    <div>[ SYNTAX ]</div>
    <p class="font-bold">bacup < command > [ options ]</p>
  </div>

  <div class="mb-2">
    <div class="mb-1">[ COMMANDS ]</div>
    <ul class="list-none">
      <li><div class="font-bold">help</div> <em>displays helping informations</em></li>
      <li><div class="font-bold">init</div> <em>bootstrap the bacup configuration</em></li>
      <li><div class="font-bold">track</div> <em>add files to the bacup routine</em></li>
    </ul>
  </div>

  <div>
    <div>[ FILESYSTEM ]</div>
    <p> ~/.config/bacup/config.xml <em>configuration</em></p>
  </div>
</div>